spring:
  application:
    name: egov-portal
  datasource:
    url: jdbc:postgresql://localhost:5432/egovdb
    username: egov
    password: egov
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
